***************** metalex project configuration *****************

\Project folder : metalex_metalex_projectName | /vagrant/test 
\Project name   : metalex_projectName 
\Creation date  : 28-Nov-2017
 à 22:44:31 
\Author         : metalex_user 
\Contributors   : metalex_contributors 
\Comment        : Comment_user 
\Folder log     : /logs | /vagrant/test/metalex_metalex_projectName/logs 
\Folder temp    : /dicTemp | /vagrant/test/metalex_metalex_projectName/dicTemp 
\Folder images  : /dicImages | /vagrant/test/metalex_metalex_projectName/dicImages 

***************************************************************** 

